<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Nav bar</title>
    <script src="{{ url_for('static', filename='main.js') }}" defer> </script>
    <script 
        src="https://kit.fontawesome.com/4d64ff154d.js" 
        crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- 상단 navigation bar  -->
    <nav class="navbar">
        <!-- logo -->
        <div class="navbar__logo">
            <i class="fab fa-affiliatetheme"></i>
            <a href="">Saevis Servers</a>
        </div>

        <!-- menu -->
        <ul class="navbar__menu">
            <li><a href="">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">AI</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Bookings</a></li>
        </ul>

        <!-- icons -->
        <ul class="navbar__icons">
            <li>
                <a href="https://sj-star.tistory.com/" target='_black'>
                    <i class="fas fa-blog"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k" target='_black'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>

        <a href="#" class="navbar__menuBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <!-- 인공지능 서비스 리스트 -->
    <div class="services">
        <h1>AI services</h1>
        <ul class="AI_services">
            <li>
                <a href="https://github.com/sejin-k">
                    <p>자소서 도우미 서비스</p>
                    <img src="{{ url_for('static', filename='img/JasoseoAI_link.jpg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k">
                    <p>주가 예측 서비스</p>
                    <img src="{{ url_for('static', filename='img/stock_link.jpg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k">
                    <p>인공지능 서비스</p>
                    <img src="{{ url_for('static', filename='img/defalut_link.jpg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k">
                    <p>Test service1</p>
                    <img src="{{ url_for('static', filename='img/JasoseoAI_link.jpg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k">
                    <p>Test service2</p>
                    <img src="{{ url_for('static', filename='img/stock_link.jpg') }}" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/sejin-k">
                    <p>Test service3</p>
                    <img src="{{ url_for('static', filename='img/defalut_link.jpg') }}" alt="">
                </a>
            </li>
        </ul>
    </div>

</body>
</html>